{% extends 'admin/base_admin.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/table.css" crossorigin="anonymous">

    <fieldset class="fieldset">
        <legend>Add student to:<br><strong>{{ name }}</strong><br>({{ date }})</legend>
        {% include 'main/form.html' %}
    </fieldset>

    <br><br>
    <fieldset class="center table-responsive">
        <legend>Existing students</legend>
        <table class="table table-striped table-bordered align-top">
            {% if student_list[0] %}
                <thead>
                    <tr>
                        <th>KSU ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Class Rank</th>
                        <th>Major</th>
                        <th>Save/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in student_list %}
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <tr>
                                <td>{{ row.ksu_id }}</td>
                                <td><input class="form-control" type="text" name="last_name" value="{{ row.last_name }}" required maxlength="50" pattern="[\w\-']+"></td>
                                <td><input class="form-control" type="text" name="first_name" value="{{ row.first_name }}" required maxlength="50" pattern="[\w\-']+"></td>
                                <td><input class="form-control" type="email" name="email" value="{% if row.email_address %}{{ row.email_address }}{% endif %}" maxlength="100"></td>
                                <td>
                                    <select class="form-select" name="class_rank">
                                        <option value="" {% if not row.class_rank %}selected{% endif %}>None</option>
                                        <option value="Freshman" {% if row.get_rank() == 'Freshman' %}selected{% endif %}>Freshman</option>
                                        <option value="Sophomore" {% if row.get_rank() == 'Sophomore' %}selected{% endif %}>Sophomore</option>
                                        <option value="Junior" {% if row.get_rank() == 'Junior' %}selected{% endif %}>Junior</option>
                                        <option value="Senior" {% if row.get_rank() == 'Senior' %}selected{% endif %}>Senior</option>
                                        <option value="Other" {% if row.get_rank() == 'Other' %}selected{% endif %}>Other</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" name="major">
                                        {% for major in majors %}
                                            <option value="{{ major[0] }}" {% if major[0] == row.major_id %}selected{% endif %}>{{ major[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    {% set modal_title = 'Delete student "'+row.first_name+' '+row.last_name+'"?' %}
                                    {% set modal_body = 'This will also delete all attendance records for this student.' %}
                                    {% set modal_id = row.ksu_id %}
                                    {% include 'admin/modal.html' %}
                                    <button type="submit" class="btn btn-outline-primary" name="save_{{ row.ksu_id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16" focusable="false">
                                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"></path>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ modal_id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                    <tr><td colspan="7">Count: {{ count }}</td></tr>
                </tbody>
            {% else %}
                <tr><td colspan="7">No existing students found.</td></tr>
            {% endif %}
        </table>
    </fieldset>
{% endblock %}