<div class="modal fade" id="deleteModal{{ modal_id }}" tabindex="-1" aria-labelledby="deleteModal{{ modal_id }}Title" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{ modal_id }}Title">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <p>{{ modal_body }}</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" name="save_{{ modal_id }}" style="display: none" aria-hidden="true"></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>&nbsp;
                <button type="submit" class="btn btn-danger" name="delete_{{ modal_id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                    </svg>&nbsp;Delete
                </button>
            </div>
        </div>
    </div>
</div>